@import "tailwindcss";

@theme {
  --color-paper: #F9F6F0;
  --color-ink-charcoal: #2B2B2B;
  --color-ink-muted: #736B63;
  --color-ink-secondary: #4A4A4A;
  --color-terracotta: #C85A32;
  --color-terracotta-hover: #A94824;
  --color-terracotta-light: #F5EBE6;
  --color-sage: #557A60;
  --color-sage-light: #EAF0EB;
  --color-amberGold: #D97706;
  
  --font-serif: Lora, Merriweather, Georgia, serif;
  --font-sans: Inter, system-ui, sans-serif;
}

body {
  background-color: var(--color-paper);
}